<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup"  (submit)="saveCrew()" >

    <mat-form-field>
       <input matInput type="number" placeholder="id" formControlName="crewId"/>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput type="text" placeholder="name" formControlName="firstName"/>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput type="text" placeholder="last name" formControlName="lastName"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="position" formControlName="position"/>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput type="text" placeholder="experience" formControlName="flightExperience"/>
    </mat-form-field>

    <button mat-button type="submit" (click)="closeDialog()">save</button>

  </form>
</mat-dialog-content>
