

<mat-dialog-content class="mat-typography"  >
  <h4>add aircraft</h4>
   
  <form [formGroup]="fg" (submit)="addPlane()"  >
      <input type="number" formControlName="planeId" name="id" placeholder="id"/>
   
       <br>
       <br>
      <input type="text" formControlName="make" placeholder="make"/>
      <br>
      <br>
      <input type="text" formControlName="model" placeholder="model"/>
      <br>
      <br>
      <input type="text" formControlName="capacity"  placeholder="capacity"/>
      <br>
      <br>
      <input type="text" formControlName="miles"  placeholder="miles"/>
      <br>
      <br>
      <button mat-button type="submit"  >save</button>
 </form>
</mat-dialog-content>

