<section class="title">
  <div style="display: inline">Crew</div> 
  <button mat-button (click)="openDialog()">add crew</button>
</section>
<mat-expansion-panel  class="panels" *ngFor="let c of crew">
  <mat-expansion-panel-header class="pic">
      <mat-card class="card"> 
          <mat-card-header>
            <mat-card-subtitle>{{c.firstName}}    {{c.lastName}}</mat-card-subtitle>
          </mat-card-header>
          </mat-card>
  </mat-expansion-panel-header>
  <div>
    <table class="table">
      <tr>
        <th>rank</th>
        <th>id</th>
        <th>rank</th>
        <th>years of flight experience</th>
      </tr>
      <tr>
        <td>{{c.position}}</td>
        <td>{{c.crewId}}</td>
        <td>{{c.position}}</td>
        <td>{{c.flightExperience}}</td>
      </tr>
      <tr [formGroup]="formGroup" *ngIf="edit">
        <td>
          <input type = "number" formControlName="crewId" value="{{c.crewId}}"/>
        </td>
        <td>
            <input type ="text" formControlName="position"/>
        </td>
        <td>
          <input type ="text" formControlName="flightExperience"/>
          </td>
          <td>
            <button type="submit" (click)="updateCrew(c.crewId)">update</button>
          </td>
          <td>
              <button (click)="deleteCrew(c.crewId)" >delete</button>
          </td>
      </tr>
      <tr>
        <button (click)="editCrew()">edit</button>
      </tr>
    </table>
  </div>
</mat-expansion-panel>

