.fields{
    display: inline;
    
  }
  
  .field{
  
      padding-left:2%;
  }
  
  .panels{
      margin-top:2em;
  }
  
  .title{
      background-color:navy;
      height:40px;
      color:white;
  }

  .card{
    margin-top:5em;
    width:100%;
    height:1%;

    margin-right:2em; 
   
  }

  .pic{

    margin-bottom:3.5em; 
   
  
    }