


<div>
<nav class="navbar div">
    <div class="navbar-brand link">Polaris Airways Database</div>
    <button *ngIf="polaris.signedIn()" (click)="signOut()" mat-button>sign-out</button>
   
    <a *ngIf="status">add</a>
  </nav>





<div *ngIf="!polaris.signedIn()">
  <mat-card class=" mx-auto  shadow-sm form">
<form [formGroup]="formGroup" (submit)="authentic()" >
  <h4 class="h4">sign-in</h4>

    <div mat-card-avatar class="img"></div>
<section >
 
 
  <mat-form-field class="input" >
    <input matInput type="text" placeholder="username" formControlName="username" >
    <mat-error *ngIf="userValidation()">Enter user name please</mat-error>
  
  </mat-form-field>
<br>

<br>
  <mat-form-field class="input">
    <input matInput type="password" placeholder="password" formControlName="password" >
    <mat-error *ngIf="passwordValidation()">please enter password</mat-error>
  </mat-form-field>
<br>
  <div class="input">
  <input type="submit" value="sign-in">
  </div>
</section>
</form>
</mat-card>
</div>


<div *ngIf="polaris.signedIn()">
                
  <app-navigation></app-navigation>
</div>

<footer class="footer">{{date}} </footer>

</div>