



.form{

   width:210px;

   border-radius: 2%;
   display: block;
   background-color: transparent;
   margin-top: 4em;
}

.input{

    

    text-align: center;
}


.div{
    background-color: navy;
    color:whitesmoke;
}

.footer{
    position: absolute;
    bottom:0;
    width:100%;
    background-color:navy;
    color:white;
    text-align:center; 
    font-size: 70%
}

.avatar{

    
    width:50px;
    height:50px;
    border-radius:50%; 
}

.img{

    background-image:url("C:/Users/LDitshwane/Pictures/one.png");
    width:70px;
    height:70px;
    border-radius: 50%;
    margin-left:3.5em;
    background-repeat: no-repeat;

}

.h4{
    text-align: center;
}