<h3 mat-dialog-title>route</h3>
<mat-dialog-content class="mat-typography">
    <div class="title"></div>
  <form [formGroup]="formGroup" (submit)="saveRoute()">
  <mat-form-field>
  <input matInput type="number" placeholder="id" formControlName="routeId">
</mat-form-field>

<mat-form-field>
    <input matInput type="text" placeholder="country of origin" formControlName="routeOrigin">
  </mat-form-field>
  
  <mat-form-field>
      <input matInput type="text" placeholder="country of destination" formControlName="routeDestination">
    </mat-form-field>
    
  <mat-form-field>
      <input matInput type="text" placeholder="orgin airport" formControlName="originAirport">
    </mat-form-field>
    
  <mat-form-field>
      <input matInput type="text" placeholder="destination airport" formControlName="destinationAirport">
    </mat-form-field>
    
  <mat-form-field>
      <input matInput type="number" placeholder="id" formControlName="planeId">
    </mat-form-field>

    <button type="submit" (click)="closeDialog()">save</button>
</form>

</mat-dialog-content>