.fields{

    display: inline;
    
  }
  
  .field{
  
    
      padding-left:2%;
  }
  
  .panels{
      margin-top:2em;
  }
  
  .title{
      background-color:navy;
      height:40px;
     
      color:white;
  }

  .img{

    background-image: url("C:/Users/LDitshwane/Pictures/sky.jpg");
    background-size:cover;
    
    
  }

  .pic{

  margin-bottom:3.5em; 
 

  }

  .card{
    margin-top:5em;
    width:100%;
    height:1%;

    margin-right:2em; 
   
  }