<section class="title">Route
  <button mat-button (click)="openDialog()">add route</button>
</section>
<mat-expansion-panel class="panels" *ngFor="let r of route">
  <mat-expansion-panel-header class="pic">
     <mat-card class="card"> 
    <mat-card-header>
      <mat-card-subtitle>{{r.routeOrigin}}    {{r.routeDestination}}</mat-card-subtitle>

    </mat-card-header>
    
    </mat-card>
  </mat-expansion-panel-header>
  <div>
    <table class="table">
      <tr>
       <th>id</th>
       <th>origin airport</th>
       <th>destination airport</th>
      </tr>
      <tr>
      <td>{{r.routeId}}</td>
      <td>{{r.originAirport}}</td>
      <td>{{r.destinationAirport}}</td>
      </tr>
      <tr [formGroup]="formGroup" *ngIf="edit">
        <td  >
        <mat-form-field>
          <input matInput type="number" formControlName="routeId" value="{{r.routeId}}" readonly/>
        </mat-form-field>
        </td>
        <td>
        <mat-form-field>
          <input matInput type="text" formControlName="originAirport"/>
        </mat-form-field>
        </td>
        <td>
        <mat-form-field>
          <input matInput type="text" formControlName="destinationAirport"/>
        </mat-form-field>
        <button type="submit" (click)="editRoute(r.routeId)">update</button>

        <td>
            <button (click)="deleteRoute(r.routeId)" >delete</button>
         
        </td>
      </tr>
      <tr>
        <button (click)="showEdit()">edit</button>
      </tr>
    </table>
  </div>
</mat-expansion-panel>