
<section class="title">
  <section class="fleet">Fleet</section>
  <button mat-button class="btn" (click)="openDialog()">new aircraft</button>
</section>

<mat-expansion-panel class="panels" *ngFor="let f of fleet">
  <mat-expansion-panel-header class="pic">
      <mat-card class="card"> 
          <mat-card-header>
            <mat-card-subtitle>{{f.make}}    {{f.model}}</mat-card-subtitle>
          </mat-card-header>
          </mat-card>
  </mat-expansion-panel-header>
  <div>
  <table class="table"> 
   <tr>
     <th>id</th>
     <th>capacity</th>
     <th colspan="2">miles</th>
     
   </tr>
   <tr>
     <td>{{f.planeId}}</td>
     <td>{{f.capacity}}</td>
     <td colspan="2">{{f.miles}}</td>
   </tr>
   <tr [formGroup]="formGroup" *ngIf ="edit">
     <td>
       
       <mat-form-field >
       <input matInput type="number" formControlName="planeId"  value="{{f.planeId}}"readonly/>
       </mat-form-field>
      </td>
     <td>
     
       <mat-form-field >
        <input matInput   type="number" formControlName="capacity" />
        </mat-form-field>
      </td>
     <td colspan="1">
       
        <mat-form-field>
            <input matInput  type="number" formControlName="miles" />
         </mat-form-field>
     </td>
     <td>
       <button mat-button type="submit" (click)="updateFleet(f.planeId)" routerLink="fleet">update</button>
      </td>
      <td>
          <button (click)="deleteFleet(f.planeId)" >delete</button>
        </td>
   </tr>
   <tr *ngIf="removeEdit"> 
      <td colspan="4">
          <button mat-button (click)="editFleet()">edit</button>
         </td>
   </tr>
  </table>
  </div>
</mat-expansion-panel>


