.fields{
    display: inline;
    
  }
  
  .field{
  
      padding-left:2%;
  }
  
  .panels{
      margin-top:2em;
      width:auto;
     
  }
  
  .title{
      background-color:navy;
      height:40px;

      color:white;
  }

  .fleet{
   display: inline;
   margin-left: 3em;
  }

  .btn{
    display: inline;
    margin-left: 5em;
  }

  .editables{

    border:none; 
  }

  .card{
    margin-top:5em;
    width:100%;
    height:1%;

    margin-right:2em; 
   
  }

  .pic{

    margin-bottom:3.5em; 
   
  
    }