<section class="title">Engineers
  <div style="display: inline">
    <button mat-button (click)="openDialog()">add engineer</button>
  </div>
</section>
  <mat-expansion-panel class="panels" *ngFor="let e of engineer">
    <mat-expansion-panel-header class="pic">
        <mat-card class="card"> 
            <mat-card-header>
              <mat-card-subtitle>{{e.firstName}}    {{e.lastName}}</mat-card-subtitle>
            </mat-card-header>
            </mat-card>
    </mat-expansion-panel-header>
     <div>
      <table class="table">
        <tr>
          <th>id</th>
          <th>years of experiance</th>
        </tr>
        <tr>
          <td>{{e.engineerId}}</td>
          <td>{{e.experience}}</td>
        </tr>
        <tr [formGroup]="formGroup" *ngIf="edit">
          <td >
            <mat-form-field>
           <input matInput type="number" formControlName="engineerId" value="{{e.engineerId}}" readonly/>
           </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="number" formControlName="experience" />
              </mat-form-field>
          </td>
          <td>
            <button (click)="updateEngineer(e.engineerId)">update</button>
          </td>
          <td>
            <button (click)="deleteEngineer(e.engineerId)" >delete</button>
          </td>
        </tr>
        <tr>
          <button (click)="editEngineer()">edit</button>
        </tr>
      </table>
     </div>
  </mat-expansion-panel>


