<mat-dialog-content>
<form [formGroup]="formGroup" (submit)="saveEngineer()">

  <mat-form-field>
    <input matInput type="number" placeholder="id" formControlName="engineerId"/>
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="firstName" formControlName="firstName"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="lastName" formControlName="lastName"/>
      </mat-form-field>

      <mat-form-field>
          <input matInput type="number" placeholder="experience" formControlName="experience"/>
      </mat-form-field>

      <button type="submit">save</button>
</form>
</mat-dialog-content>
