
<div *ngIf="polaris.signedIn()">
<mat-tab-group mat-stretch-tabs >
  <mat-tab label="Fleet" ><app-fleet></app-fleet></mat-tab>
  <mat-tab label="Routes" class="sp" ><app-route></app-route></mat-tab>
  <mat-tab label="Crew" class="sp"><app-crew></app-crew></mat-tab>
  <mat-tab label="Engineers" class="sp"><app-engineer></app-engineer></mat-tab>
</mat-tab-group>
</div>




